<<<<<<< HEAD
﻿<div class="double">
    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
</div>
<label class="form-check-label" for="invalidCheck2">
    Agree to terms and conditions
</label>

<form  >
    <div class="form-group">
        <label for="exampleFormControlFile1">Choose image</label>
        <input  id="filechooser"  type="file" name="myImage" accept="image/x-png,image/gif,image/jpeg"
            class="form-control-file">
    </div>
    <button type="button" name="test" id="btn" onclick="uploadFile()" class="btn btn-secondary btn-sm btn-block">Upload</button>
=======
﻿@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input  id="filechooser"  type="file" name="myImage" accept="image/x-png,image/gif,image/jpeg"
            class="form-control-file">
    </div>
    <button type="button" name="test" id="test" onclick="uploadFile()" class="btn btn-secondary btn-sm btn-block">Upload</button>
>>>>>>> master
</form>